@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-wh: #ffffff;
    --color-bl: #000000;
    --color-dark: #212121;
    --color-darkLt: #222222;
    --color-darkDp: #181818;
}

/* common */
body {
    @apply bg-dark
}
.container-lg {
    max-width: 1400px;
    @apply m-auto
}
.container {
    max-width: 1000px;
    @apply m-auto
}

/* header */
.header {
    @apply z-50 shadow-lg bg-dark top-0 fixed w-full
}
.nav-logo {
    width: 180px;
    height: 40px;
    @apply 
        bg-logo bg-contain inline-block 
        my-4
}
.nav-btn {
    font-size: 15px;
    height: 70px;
    @apply 
        bg-trans text-wh 
        inline-block justify-center items-center 
        py-6 px-10
        font-semibold
}

/* btn */
.btn {
    @apply 
        transition
        ease-in-out duration-700
        text-wh 
        justify-items-center
        px-9 py-3
        font-bold
}
.btn-df {
    @apply 
        bg-gradient-to-r from-lt via-cen to-rt 
}

.btn-bk {
    @apply 
        bg-dark
        hover:shadow-xl
}

.btn-line {
    @apply 
        bg-trans border-wh 
        shadow border
        hover:shadow-inner border-2
}

/* align */
.center-ct {
    @apply flex flex-col justify-center items-center;
}
.center-rt {
    @apply flex flex-col justify-center items-end;
}

/* list */
.ul-df {
    @apply flex flex-row
}
.li-df {
    @apply flex-none
}

/* bg */
.bg-gd-r {
    @apply 
        bg-gradient-to-r from-lt via-cen to-rt 
}

.bg-gd-t {
    @apply 
        bg-gradient-to-r from-top to-bot 
}

/* section */
.section-pad {
    @apply py-32
}
.setion-title {
    @apply text-4xl font-bold
}

/* main cover */
.mainCover {
    margin-top: 60px;
    min-height: 512px;
    @apply bg-prm flex bg-no-repeat bg-cover bg-center bg-main-cover
}
@media (max-width: 1024px) {
    .mainCover {
        min-height: 480px;
    }   
}
.mainCoverTxtWrap {
    @apply w-4/6 px-3
}
.mainTxt {
    @apply text-wh
}
.mainTxtHeader {
    @apply font-mono font-bold text-5xl
}
.mainTxtDesc {
    @apply py-5 text-lg
}

/* main tranding */
.box-path-wrap {
    @apply p-5 justify-items-center
}
.box-path {
    @apply bg-darkLt
}

/* winning */
.winning-cover {
    background-size: 60%;
    @apply bg-win-cover bg-no-repeat bg-left
}

/* growth */
.growth-cover {
    @apply bg-growth-cover bg-cover bg-no-repeat
}

/* twitter */
.slick-track {
    display: flex !important;
}
.slick-track>.slick-slide {
    display: inline-block;
    vertical-align: top;
    float: none;
    height: inherit;
}
.slick-track>.slick-slide>div {
    display: inline-block;
    height: 100%;
}

.slide-box {
    @apply bg-wh pb-10 h-full text-bl p-5 rounded-md
}
.slide-btn {
    @apply mr-3 inline-block bg-contain bg-no-repeat bg-center w-4 h-5
}

/* footer */
.footer-link {
    @apply transition duration-300 text-ltGray hover:text-wh
}
